<!-- Navigation -->
<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-left">
                <a href="{{ '/' | absolute_url }}" class="uk-navbar-item uk-logo">{{ site.title | default: site.github.repository_name }}</a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    {% for page in site.pages %}
                    {% if page.title and page.url != "/" %}
                    <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">Download <span uk-navbar-parent-icon></span></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="{{ site.github.zip_url }}" target="_blank"><span uk-icon="download"></span> ZIP File</a></li>
                                <li><a href="{{ site.github.tar_url }}" target="_blank"><span uk-icon="download"></span> TAR Ball</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="uk-navbar-item">
                    <a class="uk-icon-link" href="{{ site.github.repository_url }}" target="_blank" uk-icon="github"></a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- End Navigation -->
